In [1]:
#運用scikit-learn API 實現K-fold分割資料
import pandas as pd
dataset = pd.read_csv(r'Social_Network_Ads.csv')

In [2]:
dataset

      User ID  Gender   Age  EstimatedSalary  Purchased
0    15624510    Male  19.0          19000.0          0
1    15810944    Male  35.0          20000.0          0
2    15668575  Female  26.0          43000.0          0
3    15603246  Female  27.0          57000.0          0
4    15804002    Male  19.0          76000.0          0
5    15728773    Male  27.0          58000.0          0
6    15598044  Female  27.0          84000.0          0
7    15694829  Female  32.0         150000.0          1
8    15600575    Male  25.0          33000.0          0
9    15727311  Female  35.0          65000.0          0
10   15570769  Female  26.0          80000.0          0
11   15606274  Female  26.0          52000.0          0
12   15746139    Male  20.0          86000.0          0
13   15704987    Male  32.0          18000.0          0
14   15628972    Male  18.0          82000.0          0
15   15697686    Male  29.0          80000.0          0
16   15733883    Male  47.0          25000.0          1
17   15617482    Male  45.0          26000.0          1
18   15704583    Male  46.0          28000.0          1
19   15621083  Female  48.0          29000.0          1
20   15649487    Male  45.0          22000.0          1
21   15736760  Female  47.0          49000.0          1
22   15714658    Male  48.0          41000.0          1
23   15599081  Female  45.0          22000.0          1
24   15705113    Male  46.0          23000.0          1
25   15631159    Male  47.0          20000.0          1
26   15792818    Male  49.0          28000.0          1
27   15633531  Female  47.0          30000.0          1
28   15744529    Male  29.0          43000.0          0
29   15669656    Male  31.0          18000.0          0
..        ...     ...   ...              ...        ...
370  15611430  Female  60.0          46000.0          1
371  15774744    Male  60.0          83000.0          1
372  15629885  Female  39.0          73000.0          0
373  15708791    Male  59.0         130000.0          1
374  15793890  Female  37.0          80000.0          0
375  15646091  Female  46.0          32000.0          1
376  15596984  Female  46.0          74000.0          0
377  15800215  Female  42.0          53000.0          0
378  15577806    Male  41.0          87000.0          1
379  15749381  Female  58.0          23000.0          1
380  15683758    Male  42.0          64000.0          0
381  15670615    Male  48.0          33000.0          1
382  15715622  Female  44.0         139000.0          1
383  15707634    Male  49.0          28000.0          1
384  15806901  Female  57.0          33000.0          1
385  15775335    Male  56.0          60000.0          1
386  15724150  Female  49.0          39000.0          1
387  15627220    Male  39.0          71000.0          0
388  15672330    Male  47.0          34000.0          1
389  15668521  Female  48.0          35000.0          1
390  15807837    Male  48.0          33000.0          1
391  15592570    Male  47.0          23000.0          1
392  15748589  Female  45.0          45000.0          1
393  15635893    Male  60.0          42000.0          1
394  15757632  Female  39.0          59000.0          0
395  15691863  Female  46.0          41000.0          1
396  15706071    Male  51.0          23000.0          1
397  15654296  Female  50.0          20000.0          1
398  15755018    Male  36.0          33000.0          0
399  15594041  Female  49.0          36000.0          1

[400 rows x 5 columns]

In [3]:
#取出訓練特徵與標註
X = dataset[['User ID', 'Gender', 'Age', 'EstimatedSalary']].values
Y = dataset['Purchased'].values

In [4]:
import numpy as np
from sklearn.model_selection import KFold

In [5]:
#將訓練資料按照順序切割成10等分
kf = KFold(n_splits = 10)
kf.get_n_splits(X)

print(kf)

KFold(n_splits=10, random_state=None, shuffle=False)

In [7]:
#將訓練資料隨機切割成10等分
kf = KFold(n_splits = 10, shuffle=True)
kf.get_n_splits(X)

print(kf)

KFold(n_splits=10, random_state=None, shuffle=True)

In [8]:
#取出 切割資料對應位置
train_split = kf.split(X)
next(train_split)

(array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
         13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
         26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
         39,  40,  41,  42,  43,  44,  46,  47,  49,  50,  51,  52,  53,
         54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,
         67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  79,  80,
         81,  82,  83,  84,  85,  86,  87,  89,  90,  91,  92,  93,  94,
         95,  97,  98,  99, 100, 101, 102, 104, 105, 106, 107, 108, 109,
        110, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123,
        124, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137,
        138, 139, 140, 141, 142, 143, 144, 145, 147, 148, 149, 150, 151,
        152, 153, 154, 155, 156, 157, 158, 160, 161, 162, 163, 164, 165,
        166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178,
        179, 180, 181, 182, 183, 184, 185, 186, 187, 189, 190, 191, 192,
        193, 195, 196, 197, 198, 199, 200, 201, 202, 204, 205, 206, 209,
        211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 222, 223, 224,
        225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237,
        238, 239, 240, 242, 245, 246, 247, 248, 249, 250, 251, 252, 253,
        254, 255, 257, 258, 259, 260, 262, 263, 264, 265, 267, 268, 269,
        270, 271, 272, 273, 276, 277, 278, 279, 280, 281, 282, 283, 284,
        285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297,
        298, 299, 300, 301, 302, 303, 305, 307, 308, 309, 311, 312, 313,
        314, 315, 316, 317, 318, 319, 321, 322, 323, 324, 326, 327, 328,
        329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 343,
        344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356,
        357, 358, 359, 360, 362, 363, 364, 365, 367, 369, 370, 371, 374,
        375, 376, 377, 378, 379, 380, 382, 383, 384, 385, 386, 387, 388,
        389, 390, 391, 393, 394, 395, 397, 398, 399]),
 array([ 45,  48,  78,  88,  96, 103, 111, 125, 146, 159, 188, 194, 203,
        207, 208, 210, 221, 241, 243, 244, 256, 261, 266, 274, 275, 304,
        306, 310, 320, 325, 341, 342, 361, 366, 368, 372, 373, 381, 392,
        396]))

In [10]:
#取出切割資料：trainset / testset 特徵(x_train/x_test)/標註(y_train/y_test)

for train_index, test_index in kf.split(X):
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = Y[train_index], Y[test_index]